* {
    box-sizing: border-box;
}

.frame, .btnFrame {
    width: 80vh;
    display: flex;

}

.invisFrame {
    display: flex;
    flex-grow: 1;
}

.frame {
    height: 80vh;
}

.newGrid {
    flex: 1;
    background-color: lightgreen;
    border: 1px solid forestgreen;
}

.column {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
}

.gridCell {
    flex: 1 1 auto;
    background-color: black;
}

.highlight {
    background-color: greenyellow;
}