* {
    box-sizing: border-box;
    border: 1px solid green;

}

.frame, .btnFrame {
    width: 80vh;
    display: flex;

}

.invisFrame {
    display: flex;
    flex-grow: 1;
}

.frame {
    height: 80vh;
}

.btnFrame {
    padding: 3px;
}

.newGrid {
    flex: 1;
    background-color: lightgreen;
}

.column {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
}

.gridCell {
    flex: 1 1 auto;
    background-color: black;
}

.highlight {
    background-color: greenyellow;
}

/* .co10 .gc10 {

} */