* {
    margin: 0px;
    box-sizing: content-box;
}

#container {
    height: 1000px;
    width: 1000px;
    display: flex;
    flex-direction: column;
    border: 2px solid rgb(10, 53, 8);
}

.row {
    display: flex;
    flex: 1;
}
    
.column {
    background-color: rgb(202, 255, 200);
    flex: 1;
    border: 1px solid rgb(32, 90, 30);
}

.trace {
    background-color: rgb(243, 252, 162);
}